.interactive-content {

  .container {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    font-size: 2em;

    li {
      display: inline-block;
      
      .button {
        position: relative;
        color: inherit;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;

        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          content: '';
          display: block;
          background-color: darkred;
          height: 5px;
          width: 0;
          transition: .3s ease-out;
        }

        &:hover::after {
          bottom: 0;
          left: 0;
          width: 100%;
        }


  
      }
    }
  }
}