@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$base-font-family: 'Quicksand', serif;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.5;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}