main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

blog-header {
  flex-shrink: 0;
  width: 30%;
  max-width: 20rem;
  z-index: 1;
  box-shadow: 0 1rem 3rem rgba(125, 125, 125, 0.7);
}

blog-content {
  min-height: 100%;
  flex-grow: 1;
  background-color: var(--content-bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
